@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --topArea: #f5f5f5;
  --categoryArea: #d7d7e2;
  --socialMediaBtn: #e1e5ec;
  --socialMediaCard: #f5f5f5;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --topArea: #f5f5f5;
    --categorArea: #c4d5d8;
    --socialMediaBtn: #e1e5ec;
    --socialMediaCard: #f5f5f5;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --topArea: #171717;
    --categoryArea: #1f1f1f;
    --socialMediaBtn: #1f1f1f;
    --socialMediaCard: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.top-area {
  background: var(--topArea);
}
